<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>States</title>
    <script src="https://unpkg.com/vue@next"></script>
    <style>
      #appArea {
        background-color: lightyellow;
      }
      .flag,.seal {
        width: 125px;
        padding: 10px;
      }
      .center {
        text-align: center;
      }
      table,
      tr,
      td,
      th {
        border: 1px solid black;
        border-collapse: collapse;
      }
    </style>
  </head>
  <body>
    <h1>States</h1>
    <hr />
    <div id="appArea">
     <table>
       <tr>
         <th>State Name</th>
         <th>Capital</th>
         <th>Seal</th>
       </tr>
       <tr v-for="st of states">
         <td v-if="st.facebook_url"><a v-bind:href="st.facebook_url">  {{ st.state }}</a></td>
         <td v-else="st.facebook_url">{{st.state}} (no Facebook Link)</td>
         <td class="center">{{ st.capital_city }}</td>
         <td><img 
               :src="st.state_seal_url" 
               :alt="makeAlt(st)" 
               class="seal"></td>
       </tr>
     </table>

    </div>

    <footer>
      <hr />
      <p>This is the footer</p>
    </footer>
    <script src="./app.js"></script>
  </body>
</html>
